@media (max-width: 429px) {
  body {
    font-size: 15px;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 30px;
  }
  .nav {
    height: 90px;
    background-color: #202020 !important;
  }
  .open_menu {
    top: 90px;
  }
  .nav_items {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.9px;
    text-transform: capitalize;
    color: #333;
    justify-content: start;
    border-bottom: 1px solid #f1f1f1;
    padding-block: 15px !important;
  }
  .nav_items:last-child{
    border-bottom: 0;
  }
  .active-link {
  color: #ef5350;
}
  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 36px;
  }

  .hero-top-heading {
    font-size: 16px;
  }

  .hero-subtitle {
    font-size: 16px;
    max-width: 320px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .hero-btn {
    width: 55%;
  }

  .hero-subtitle {
    max-width: 100%;
  }

  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none !important;
  }

  .about_content {
    padding-block: 50px !important;
  }
  .about_info {
    padding-top: 50px;
  }
  .about_title {
    font-size: 24px;
  }
  .icon_list {
    width: 46px !important;
    height: 46px !important;
  }
  .icon_list i {
    font-size: 19px !important;
  }
  .title_results {
    font-size: 24px;
  }
  .p_results {
    font-size: 14px;
    line-height: 27px;
  }
  #results2::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }
  .results2_parallax {
    height: 130%;
    background-position: 65% center;
  }
  .special-heading .special-heading-title {
    font-size: 26px !important;
  }
  .special-heading .special-heading-subtitle {
    font-size: 15px;
    margin: 12px auto 0;
  }
  .special-heading-icon {
    font-size: 36px;
  }
  .head_icon {
    width: 45px;
    height: 45px;
  }

  .feature_title {
    font-size: 18px;
  }
  .icon-circle {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  .icon {
    width: 30px;
    height: 42px;
  }
  .card {
    margin: 8px;
  }
  .card-body {
    padding: 16px;
  }

  .card_title {
    font-size: 18px;
  }

  .card_p {
    font-size: 13px;
    line-height: 24px;
  }
  .social_coash {
    width: 36px;
    height: 36px;
  }

  .questions_parallax {
    background-image: none;
    background-color: #151515;
  }
  #questions::after {
    background-color: transparent;
  }
  .Q_header {
    font-size: 18px;
  }
  .test_items {
    padding: 0 !important;
  }
  .cta-heading {
    font-size: 26px;
  }
  .cta-subtitle {
    font-size: 16px;
    margin-top: 0 !important;
  }
  .Join_box {
    padding-block: 40px;
  }
  .cta-buttons {
    padding: 14px 16px;
  }
  .widget {
    text-align: center;
  }
  .widget-title{
    font-size:18px;
  }
  .textwidget {
    text-align: start;
  }
  .widget-contact-details {
    text-align: start;
  }
  .footer-image {
    width: 300px;
  }
}
@media (min-width: 429px) and (max-width: 481px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 30px;
  }
  .nav {
    background-color: #202020 !important;
  }
  .nav_items {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.9px;
    text-transform: capitalize;
    color: #333;
    justify-content: start;
    border-bottom: 1px solid #f1f1f1;
    padding-block: 15px !important;
  }
  .nav_items:last-child{
    border-bottom: 0;
  }
  .active-link {
  color: #ef5350;
}
  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 38px;
  }

  .hero-top-heading {
    font-size: 18px;
  }
  .hero-subtitle {
    font-size: 18px;
    max-width: 360px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero-btn {
    width: 55%;
  }

  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none !important;
  }
  .about_content {
    padding-block: 50px !important;
  }
  .about_info {
    padding-top: 50px;
  }
  .about_title {
    font-size: 26px;
  }

  .icon_list {
    width: 48px !important;
    height: 48px !important;
  }
  .icon_list i {
    font-size: 20px !important;
  }
  .title_results {
    font-size: 26px;
  }
  .p_results {
    font-size: 15px;
    line-height: 28px;
  }
  #results2::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }
  .results2_parallax {
    height: 130%;
    background-position: 65% center;
  }
  .feature_title {
    font-size: 20px;
  }
  .icon-circle {
    width: 76px;
    height: 76px;
    font-size: 32px;
  }
  .icon {
    width: 32px;
    height: 44px;
  }
  .card {
    margin: 6px;
  }
  .card-body {
    padding: 18px;
  }

  .card_title {
    font-size: 20px;
  }
  .card_p {
    font-size: 15px;
    line-height: 26px;
  }
  .social_coash {
    width: 38px;
    height: 38px;
  }
  .questions_parallax {
    background-image: none;
    background-color: #151515;
  }
  #questions::after {
    background-color: transparent;
  }
  .Q_header {
    font-size: 20px;
  }
  .widget {
    text-align: center;
  }
  .widget-title {
    font-size: 20px;
  }
  .textwidget {
    max-width: none;
  }
  .widget-contact-details {
    text-align: start;
  }
  .cta-heading {
    font-size: 28px;
  }
  .cta-subtitle {
    font-size: 18px;
    margin-top: 0 !important;
  }
  .Join_box {
    padding-block: 60px;
  }
  .cta-buttons {
    padding: 16px 18px;
  }
  .widget {
    text-align: center;
  }
  .textwidget {
    text-align: start;
  }
  .widget-contact-details {
    text-align: start;
  }
  .footer-image {
    width: 300px;
  }
}
@media (min-width: 480px) and (max-width: 821px) {
  body {
    font-size: 16px;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 38px;
  }
  .nav {
    background-color: #202020 !important;
  }
  .nav_items {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.9px;
    text-transform: capitalize;
    color: #333;
    justify-content: start;
    border-bottom: 1px solid #f1f1f1;
    padding-block: 15px !important;
  }
  .nav_items:last-child{
    border-bottom: 0;
  }
  .active-link {
  color: #ef5350;
}
  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 40px;
  }

  .hero-top-heading {
    font-size: 20px;
  }
  .hero-subtitle {
    font-size: 20px;
    max-width: 400px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero-btn {
    width: 55%;
  }
  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none !important;
  }
  .about_content {
    padding-block: 50px !important;
  }
  .about_info {
    padding-top: 50px;
    max-width: none;
  }
  .about_title {
    font-size: 32px;
  }
  .icon_list {
    width: 56px !important;
    height: 56px !important;
  }
  .icon_list i {
    font-size: 24px !important;
  }
  .btn-holder a {
    font-size: 15px;
  }

  .results2_parallax {
    height: 130%;
  }
  .result2_info p {
    max-width: 330px;
  }
  .feature_title {
    font-size: 20px;
  }
  .icon-circle {
    width: 76px;
    height: 76px;
    font-size: 32px;
  }
  .icon {
    width: 32px;
    height: 44px;
  }
  .card {
    margin: 4px;
  }
  .card-body {
    padding: 20px;
  }

  .card_title {
    font-size: 22px;
  }
  .card_p {
    font-size: 17px;
    line-height: 28px;
  }
  .social_coash {
    width: 40px;
    height: 40px;
  }
  .questions_parallax {
    background-image: none;
    background-color: #151515;
  }
  #questions::after {
    background-color: transparent;
  }
  .Q_header {
    font-size: 20px;
  }
  .testimonial_content {
    max-width: none;
  }

  .cta-heading {
    font-size: 30px;
  }
  .cta-subtitle {
    font-size: 20px;
  }

  .cta-buttons {
    padding: 18px 20px;
  }
  .widget {
    text-align: center;
  }
  .textwidget {
    text-align: start;
  }
  .widget-contact-details {
    text-align: start;
  }
  .footer-image {
    width: 300px;
  }
}
@media (min-width: 820px) and (max-width: 1220px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 24px;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 780px;
  }
  .nav_items {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.9px;
    text-transform: capitalize;
    color: #333;
    justify-content: start;
    border-bottom: 1px solid #f1f1f1;
    padding-block: 15px !important;
  }
  .nav_items:last-child{
    border-bottom: 0;
  }
  .active-link {
  color: #ef5350;
}
  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 60px;
  }

  .hero-top-heading {
    font-size: 22px;
  }
  .hero-subtitle {
    font-size: 22px;
    max-width: 660px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero-btn {
    width: 55%;
  }
  .feature_title {
    font-size: 20px;
  }
  .icon-circle {
    width: 76px;
    height: 76px;
    font-size: 32px;
  }

  .card {
    margin: 0;
  }
  .card-body {
    padding: 20px;
  }
  .card_p {
    font-size: 15px;
    line-height: 26px;
  }
  .testimonials > div {
    gap: 10px;
  }
  .testimonial_content {
    padding-inline: 20px !important;
    max-width: 360px;
  }
  .test_items {
    padding: 0 !important;
  }
  .cta-heading {
    font-size: 36px;
  }
  .cta-subtitle {
    font-size: 24px;
  }

  .cta-buttons {
    padding: 20px 22px;
  }

  .widget {
    text-align: center;
  }
  .widget-title {
    font-size: 22px;
  }
  .textwidget {
    max-width: 330px;
  }
  .widget-contact-details {
    text-align: start;
  }
  .footer-image {
    width: 350px;
  }
  .copyright {
    font-size: 16px;
  }
  .social-icons a {
    height: 40px;
    width: 40px;
  }
  .social {
    font-size: 16px;
  }
}
