@media (max-width: 429px) {
  body {
    font-size: 14px;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 28px;
  }

  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 36px;
  }

  .hero-top-heading {
    font-size: 16px;
  }

  .hero-subtitle {
    font-size: 16px;
    max-width: 320px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .hero-btn {
    width: 55%;
  }

  .hero-subtitle {
    max-width: 100%;
  }

  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none !important;
  }

  .about_content {
    padding-block: 50px !important;
  }
  .about_info {
    padding-top: 50px;
  }
  .about_title {
    font-size: 24px;
  }
  .icon_list {
    width: 46px !important;
    height: 46px !important;
  }
  .icon_list i {
    font-size: 19px !important;
  }
  .title_results {
    font-size: 24px;
  }
  .p_results {
    font-size: 14px;
    line-height: 27px;
  }
  #results2::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }
  .results2_parallax {
    height: 130%;
    background-position: 65% center;
  }
  .special-heading .special-heading-title {
    font-size: 26px !important;
  }
  .special-heading .special-heading-subtitle {
    font-size: 15px;
    margin: 12px auto 0;
  }
  .special-heading-icon {
    font-size: 36px;
  }
  .feature_title {
    font-size: 18px;
  }
  .icon-circle {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  .icon {
    width: 30px;
    height: 42px;
  }
  .footer-image {
    width: 300px;
  }
}
@media (min-width: 429px) and (max-width: 481px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 30px;
  }
  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 38px;
  }

  .hero-top-heading {
    font-size: 18px;
  }
  .hero-subtitle {
    font-size: 18px;
    max-width: 360px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero-btn {
    width: 55%;
  }

  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none !important;
  }
  .about_content {
    padding-block: 50px !important;
  }
  .about_info {
    padding-top: 50px;
  }
  .about_title {
    font-size: 26px;
  }
  
  .icon_list {
    width: 48px !important;
    height: 48px !important;
  }
  .icon_list i {
    font-size: 20px !important;
  }
  .title_results {
    font-size: 26px;
  }
  .p_results {
    font-size: 15px;
    line-height: 28px;
  }
  #results2::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }
  .results2_parallax {
    height: 130%;
    background-position: 65% center;
  }
  .feature_title {
    font-size: 20px;
  }
  .icon-circle {
    width: 76px;
    height: 76px;
    font-size: 32px;
  }
  .icon {
    width: 32px;
    height: 44px;
  }
  .footer-image {
    width: 300px;
  }
}
@media (min-width: 480px) and (max-width: 821px) {
  body {
    font-size: 16px;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 34px;
  }
  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 40px;
  }

  .hero-top-heading {
    font-size: 20px;
  }
  .hero-subtitle {
    font-size: 20px;
    max-width: 400px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero-btn {
    width: 55%;
  }
  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none !important;
  }
  .about_content {
    padding-block: 50px !important;
  }
  .about_info {
    padding-top: 50px;
    max-width: none;
  }
  .about_title {
    font-size: 32px;
  }
  .icon_list {
    width: 56px !important;
    height: 56px !important;
  }
  .icon_list i {
    font-size: 24px !important;
  }
  .btn-holder a {
    font-size: 15px;
  }

  .results2_parallax {
    height: 130%;
  }
  .result2_info p {
    max-width: 330px;
  }
  .feature_title {
    font-size: 20px;
  }
  .icon-circle {
    width: 76px;
    height: 76px;
    font-size: 32px;
  }
  .icon {
    width: 32px;
    height: 44px;
  }
  .footer-image {
    width: 300px;
  }
}
@media (min-width: 820px) and (max-width: 1220px) {
  .slide_img {
    width: 100%;
    height: 100%;
  }

  .hero-heading {
    font-size: 60px;
  }

  .hero-top-heading {
    font-size: 22px;
  }
  .hero-subtitle {
    font-size: 22px;
    max-width: 660px !important;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero-btn {
    width: 55%;
  }
  .feature_title {
    font-size: 20px;
  }
  .icon-circle {
    width: 76px;
    height: 76px;
    font-size: 32px;
  }
  
}
