* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 15px;
  background-color: #161616;
  color: #999;
  font-family: "Open Sans", sans-serif;
}
.nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.nav-scrolled {
  background-color: #202020;
}
.isShow {
  transform: translateY(-100%);
}

.logo {
  height: 40px;
  width: auto;
}
.nav_items {
  font-size: 15px;
  font-weight: 700;
  line-height: 27.9px;
  padding: 0 !important;
  text-transform: uppercase;
  height: auto;
  color: white;
  transition: all 0.4s ease-in-out !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.nav_items:hover {
  color: #ef5350;
}

.active-link {
  color: #ef5350;
}

#home {
  width: 100%;
  height: 100svh;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.hero_layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide_img {
  position: relative;
}

.slide_img::after {
  content: "";
  position: absolute;
  inset: 0;
}
.slide_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% center;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  background: rgba(0, 0, 0, 0.6) !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 100%;
  text-align: center;
  color: white !important;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.mySwiper .swiper-button-next {
  right: 25px !important;
}
.mySwiper .swiper-button-prev {
  left: 25px !important;
}
.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  opacity: 1;
}
.mySwiper .swiper-button-prev > svg,
.mySwiper .swiper-button-next > svg {
  width: 10px !important;
}
.mySwiper .swiper-button-prev svg path,
.mySwiper .swiper-button-next svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 1.2;
}

.hero_sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: fit-content;
}
.hero-heading {
  font-size: 68px;
  font-weight: 800;
  line-height: 1.2;
  color: white;
}

.hero-top-heading {
  font-size: 22px;
  line-height: 1.6;
  color: #ffffffeb;
}

.hero-subtitle {
  font-size: 22px;
  line-height: 1.7;
  color: #ffffffeb;
  max-width: 700px;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.hero-btn {
  padding: 15px 28px !important;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 0.2px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all 0.2s ease-in-out !important;
  font-size: 14px;
}

.hero-btn1 {
  background-color: #ef5350;
  border: 2px solid transparent;
}

.hero-btn1:hover {
  background-color: white;
  color: #000;
}

.hero-btn2 {
  border: 2px solid white;
}

.hero-btn2:hover {
  border: 2px solid transparent;
  background-color: white;
  color: #000;
}


#about {
  background-color: #161616;
}
.about_content {
  padding-block: 90px;
}
.about_title {
  font-weight: 800;
}
.main-content {
  margin-top: 100vh;
}
#about .row {
  --bs-gutter-x: 5rem;
}
.about_info {
  max-width: 570px;
}

.icon_list {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ef5350;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_parallax {
  background-image: url(./assets/images/full-1.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  left: 0;
  right: 0;
  top: -30%;
  width: 100%;
  height: 130%;
}
.results,
#results2 {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding-block: 110px;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-color: #161616;
}
.title_results {
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  text-transform: uppercase;
}
.p_results {
  font-size: 16px;
  line-height: 29px;
}
.btn-holder a {
  background-color: #ef5350;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  padding-inline: 20px;
  padding-block: 12px;
}
.btn-holder a:hover {
  background-color: white;
  color: #000;
}

#StatsSection {
  width: 100%;
  position: relative;
  padding-block: 70px;
  background-position: center center;
  overflow: hidden;
}
#StatsSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ef5350;
  opacity: 0.9;
  z-index: 1;
}
.stats_card {
  margin-bottom: 35px;
}
.counter-icon {
  color: rgba(255, 255, 255, 0.8);
}
.counter-value {
  font-size: 52px;
  font-weight: 800;
  line-height: 52px;
  margin-bottom: 20px;
}
.counter-title {
  color: rgba(255, 255, 255, 0.8);
}
.parallax_layer {
  background-image: url(../src/assets/images/shutterstock_203253853.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 0;
  height: 150%;
  position: absolute;
  top: -30%;
  left: 0;
  right: 0;
  z-index: 0;
}
.results2_parallax {
  background-image: url(../src/assets/images/shutterstock_293791061.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 0;
  position: absolute;
  height: 150%;
  top: -30%;
  left: 0;
  right: 0;
  z-index: 0;
}
.result2_info {
  padding-block: 86px;
  width: 100%;
}
.results2_title {
  color: white;
  font-weight: 800;
  line-height: 44px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.p_results{
  max-width: 520px;
}
#whyUs {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #161616;
}
.special-heading {
  margin-bottom: 70px;
  margin-top: 8px;
}
.special-heading-icon {
  color: #ef5350;
  font-size: 40px;
  padding-top: 8px;
  margin-bottom: 16px;
}
.special-heading-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 41px;
  color: white;
}
.special-heading-subtitle {
  font-size: 17px;
  line-height: 31px;
}
.icon-circle {
  width: 78px;
  height: 78px;
  line-height: 88px;
  font-size: 32px;
  background-color: #ef5350;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature_title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
}
.featur_description {
  line-height: 27px;
}
#coaches {
  padding-top: 45px;
  padding-bottom: 100px;
  background-color: #1d1d1d;
}
.card {
  background-color: #232323 !important;
  color: #999;
  border: 1px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.card:hover {
  border-color: #ef5350;
  box-shadow: 0 15px 35px rgba(239, 83, 80, 0.25);
}
.card-body {
  padding: 22px;
}

.card-img-wrapper {
  overflow: hidden;
}
.card-img-wrapper img {
  transition: transform 0.5s ease;
}
.card:hover .card-img-wrapper img {
  transform: scale(1.05);
}

.card_title {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
  margin-block: 3px;
}

.card_p {
  font-size: 14px;
  line-height: 28px;
  margin: 0;
}
.social_coash {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  border-radius: 100%;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_coash.twitter:hover {
  background-color: #00aced;
}
.social_coash.facebook:hover {
  background-color: #3b5998;
}
#questions {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}
#questions::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.questions_parallax {
  background-image: url(../src/assets/images/shutterstock_274434071.jpg);
  position: absolute;
  left: 0;
  right: 0;
  height: 150%;
  top: -50%;
  background-attachment: scroll;
  background-size: cover;
  z-index: 0;
  background-position: 50% 0;
}
.Q_header {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 18px;
}
#Testimonials {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #1d1d1d;
}
.testimonial_content {
  background-color: #232323;
  border-radius: 4px;
  position: relative;
  max-width: 375px;
}
.testimonial_content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 26px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #232323;
}
.testimonial-author {
  color: #ababab;
}
.testimonials .swiper-slide {
  text-align: center;
  font-size: 16px;
  line-height: 29px;
  background: #444;
  background-color: transparent;
}
.testimonials .swiper-wrapper {
  margin-bottom: 70px;
}
.testimonials .swiper-button-prev,
.testimonials .swiper-button-next {
  width: 32px !important;
  height: 32px !important;
  border-radius: 100%;
  text-align: center;
  color: #3c3c3c;
  border: 2px solid #3c3c3c;
  transition: all 0.3s;
  position: absolute;
  top: auto !important;
  bottom: 0;
}

.testimonials .swiper-button-prev {
  left: 50% !important;
  transform: translateX(-23px);
}

.testimonials .swiper-button-next {
  left: 50% !important;
  transform: translateX(15px);
}

.testimonials .swiper-button-prev:hover,
.testimonials .swiper-button-next:hover {
  color: white;
  background-color: #ef5350;
  border: 2px solid transparent;
}
.testimonials .swiper-button-prev > svg,
.testimonials .swiper-button-next > svg {
  width: 7px !important;
}
.testimonials .swiper-button-prev svg path,
.testimonials .swiper-button-next svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 1.6;
}
#Join {
  padding-block: 65px;
  overflow: hidden;
}
#Join::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.Join_box {
  padding-block: 80px;
}
.cta-heading {
  font-size: 38px;
  font-weight: 800;
  line-height: 54px;
  text-transform: uppercase;
  color: white;
}
.cta-subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #ffffffd1;
}
.cta-buttons {
  background-color: #ef5350;
  width: auto;
  text-transform: uppercase;
  padding: 20px 28px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  line-height: 19px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}
.cta-buttons:hover {
  background-color: #333;
}
.Join_parallax {
  background-image: url(./assets/images/shutterstock_311105993.jpg);
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: 0;
  background-position: 50% 0;
  height: 130%;
  top: -30px;
}
#Footer {
  padding-block: 65px;
  background-color: #1b1b1b;
  overflow: hidden;
  color: #797979;
}
.widget-title {
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}
.textwidget {
  max-width: 350px;
  line-height: 27px;
}
.fa-angle-right {
  font-size: 14px;
}
.footer_list_item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 7px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer_list_item:last-child {
  border-bottom: none;
}
.widget-contact-details::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
  background: url(assets/images/contact-details-map.png) no-repeat center center;
  opacity: 0.11;
}
.widget-contact-details-item {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.widget-contact-details-item i {
  color: #636363;
}
#footer2 {
  padding-block: 55px;
  background-color: #151515;
  color: #777;
}
.footer_info {
  width: fit-content;
  text-align: center;
}
.footer-image {
  margin-top: 10px;
  margin-bottom: 25px;
}

.copyright {
  font-size: 14px;
  line-height: 24px;
}
.social-icons {
  padding-top: 8px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.social-icons a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 100%;
  color: #535353;
  background: rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.social-icons a.icon-facebook:hover {
  background-color: #3b5998;
  color: white;
}
.social-icons a.icon-google:hover {
  background-color: #dd4b39;
  color: white;
}
.social-icons a.icon-tumblr:hover {
  background-color: #32506d;
  color: white;
}
.social-icons a.icon-twitter:hover {
  background-color: #00aced;
  color: white;
}
.social-icons a.icon-youtube:hover {
  background-color: #bb0000;
  color: white;
}
